
.img-responsive{max-width:100%;}

@mixin list-to-menu() {
  display: inline; padding: 0px 20px 0px 0px;
}

@mixin clear-button() {
  border: 0px;
  outline:0px;
}

 @mixin size($width, $height) {
       width: $width;
       height: $height;
 }

 @mixin font-style($font-weight, $font-size, $color, $background-color){
   font-weight: $font-weight;
   font-family: $font-source-sans-pro;
   font-size: $font-size;
   color: $color;
   background-color: $background-color;
 }

@mixin point ($top, $left) {
  @include size(15px, 15px);
  border-radius: 50%;
  background-color: #62bcff;
  border: 3px solid #dadada;
  position: absolute;
  cursor: pointer;
  margin-top: $top;
  margin-left: $left;
}

@mixin paint-point ($top, $left) {
  @include size(40px, 20px);
  /*background-color: #62bcff;*/
  position: absolute;
  margin-top: $top;
  margin-left: $left;
}
